@font-face {
    font-family: 'Sharp Sans No1';
    src: url('SharpSansNo1-Extrabold.woff2') format('woff2'),
        url('SharpSansNo1-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}